---
import Head from '@components/Head.astro'

import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
  title?: string
  date: string
}>

const {
  frontmatter: { title = 'Astro Sample', date },
  url,
  file,
} = Astro.props
---

<!DOCTYPE html>
<html lang="ja">
  <Head title={title} />
  <body>
    <h1>{title}</h1>
    <p>URL: {url}</p>
    <p>File: {file}</p>
    <slot />
    <p>Written on: {date}</p>
  </body><style is:global>
    :root {
      --accent: 124, 58, 237;
      --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
    }
    html {
      font-family: system-ui, sans-serif;
      background-color: #f6f6f6;
    }
    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        Courier New, monospace;
    }
  </style>
</html>
